/* --- Fonts --- */





/* ------------ */

/* -------------------- navbar ------------------- */
.album-header{
    background-color: #000;
    background: url(../images/Landscape/ikes.jpg) center;
    background-size: cover;
    color: #000;
}







/* ---------------------- Global Selectors ---------------------- */



/* ------------------ x End of Global Selectprs ------------------- */





/* ------------------ Element Selectors ---------------------- */

/* -----------------X End of Element Selectors x------------------- */





/* ------------------------ Class Selectors ------------------------ */

/* ----------------x End of Class Selectors ------------------------- */





/* ------------------------ ID Selectors ------------------------ */

/* -------------------x End of ID Selectors ------------------------ */





/* ------------------------ Media Queries ------------------------ */

/* -------------------- x End of Media Queries --------------------- */